In [224]:
import pandas as pd
import numpy as np

In [225]:
pd.read_csv('somedata.csv')

   21   6.0
0  42   5.9
1  18  5.7*
2  21    NA

In [226]:
pd.read_csv('somedata.csv',header=None)

    0     1
0  21   6.0
1  42   5.9
2  18  5.7*
3  21    NA

In [227]:
pd.read_csv('somedata.csv',header=None,names=['age','height'])

   age height
0   21    6.0
1   42    5.9
2   18   5.7*
3   21     NA

In [228]:
person = pd.read_csv('somedata.csv',header=None,names=['age','height'])
person

   age height
0   21    6.0
1   42    5.9
2   18   5.7*
3   21     NA

In [229]:
person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int64
 1   height  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [230]:
person = pd.read_csv('somedata.csv',header=None,names=['age','height'],dtype={'age':np.int,'height':np.float})

ValueError: could not convert string to float: '5.7*'

In [ ]:
try:
    person = pd.read_csv('somedata.csv',header=None,names=['age','height'],dtype={'age':np.int,'height':np.float})
except ValueError as e:
    print(e)

In [ ]:
person = pd.read_csv('somedata.csv',header=None,names=['age','height'])

In [ ]:
person.info()

In [ ]:
person['height'] = pd.to_numeric(person['height'],errors='coerce')

In [ ]:
person

__Data cleaning "Dalton Brothers"__

In [ ]:
with open ("daltons.txt", "r") as daltons_file:
    daltons_lines = daltons_file.readlines()
daltons_lines

Note '\n' newline characters.

In [ ]:
with open ("daltons.txt", "r") as daltons_file:
    daltons_lines = []
    for line in daltons_file.readlines():
        daltons_lines.append(line.strip())
daltons_lines

In [ ]:
daltons_data = [x.split(',') for x in daltons_lines if not x.startswith("%")]
daltons_data

In [ ]:
daltons_df = pd.DataFrame(daltons_data)
daltons_df

We have a dataframe, but it's a mess.

First, let's fix the column names.

In [ ]:
daltons_df = pd.DataFrame(daltons_data,columns=['Name','DOB','DOD'])
daltons_df

It's clear now that the data in rows is not in a consistent order.
Start by ensuring names are in the correct column.

In [ ]:
misplaced_datum = None
for i,row in daltons_df.iterrows():
    print(row)
    if not row['Name'].isalpha():
        print(i,row['Name'])
        if row['DOB'].isalpha():
            print(i,row['DOB'])
            misplaced_datum = row['Name']
            row['Name'] = row['DOB']
            row['DOB'] = misplaced_datum
        elif row['DOD'].isalpha():
            print(i,row['DOD'])
            misplaced_datum = row['Name']
            row['Name'] = row['DOD']
            row['DOD'] = misplaced_datum
        daltons_df.iloc[i] = row
    print(row)

In [ ]:
daltons_df

Now convert numerical data to numerical dtypes.

In [ ]:
daltons_df['DOB'] = pd.to_numeric(daltons_df['DOB'],errors='coerce')
daltons_df['DOD'] = pd.to_numeric(daltons_df['DOD'],errors='coerce')
daltons_df

All born before 1890, all died after 1890.

In [ ]:
misplaced_datum = None
for i,row in daltons_df.iterrows():
    if row['DOB'] > 1890:
        print(i,row['DOB'])
        misplaced_datum = row['DOB']
        row['DOB'] = row['DOD']
        row['DOD'] = misplaced_datum
        print(i,row['DOB'])
        daltons_df.iloc[i] = row
    print(row)

In [ ]:
daltons_df.info()

In [ ]:
daltons_df.info()

In [ ]:
daltons_df